body 
{
	background-image: url("nature.jpg");
	background-color: #e71cdd;
   }

table
{
	margin-top: 50px;
	text-align: center;
	background: rgb(215, 238, 7);
	color: rgb(5, 10, 4);
}

#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
}